.text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    margin-bottom: 4px;
    text-transform: capitalize;
    font-size: 0.875rem;
    color: #a6a6ba;
  }

  input,
  select {
    font-size: 1rem;
    padding: 10px 15px;
    height: 48px;
    background-color: #232329;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
    appearance: none;

    &:focus {
      outline: none;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  select {
    cursor: pointer;
  }

  &__hint {
    font-weight: 300;
    font-size: 0.75rem;
    margin-left: var(--border-radius);
    margin-top: 3px;
    opacity: 0.8;
  }

  &.error {
    input,
    select {
      $error-color: #402626;
      border-color: $error-color;
      background-color: $error-color;
    }
  }

  // react-day-picker
  .DayPickerInput-Overlay {
    background-color: #232329;
    margin-top: 4px;
    border-radius: 8px;
  }

  .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: var(--body-color);
    color: var(--black);
  }
}
