.nav {

  &__search{
    position: relative;
  }

  &__clear-search {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 28px;
    right: 10px;
    transform: translateY(-50%);
    border-radius: 50%;
    color: #9e0900;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s;


    &:hover {
      border-color: #9e0900;
    }
  }

  .text-field {
    margin-bottom: 40px;

    input{
      padding-right: 45px;
    }
  }

  &__links {
    a {
      display: block;
      text-transform: capitalize;
      color: inherit;
      text-decoration: none;
      padding: 8px 8px 8px 32px;
      margin-bottom: 4px;
      border-radius: var(--border-radius);
      color: #afafbb;
      transition: background-color 0.5s;
    }

    a.title {
      color: #a6a6b8;
      padding-left: 8px;
      font-weight: bold;
      margin-bottom: 7px;
    }

    &.def #def {
      background-color: #212127;
    }

    &.now #now {
      background-color: #212127;
    }

    &.soon #soon {
      background-color: #212127;
    }
  }
}
