h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font;
  line-height: 1.1;
}

h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
  text-transform: capitalize;
}

.sub-text {
  opacity: 0.9;
  font-weight: 300;

  &__title {
    font-weight: bold;
  }
}
