button {
  font-size: 1rem;
  border-radius: 28px;
  border: none;
  color: black;
  background: white;
  color: var(--black);
  padding: 10px 40px;
  text-transform: capitalize;
  cursor: pointer;

}
