button {
  font-family: inherit;
  font-size: 0.9rem;
  border-radius: 30px;
  border: none;
  color: black;
  background: white;
  padding: 10px 35px;
  text-transform: capitalize;
  cursor: pointer;

}
