.movie-details {
  background-color: var(--black);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;

  .summary {
    background-color: var(--black);
    text-align: center;
    border: 1px solid #29292e;
    justify-content: space-around;
    align-items: center;

    &__text {
      > * {
        margin-bottom: 6px;
      }
    }

    .sub-text {
      opacity: 0.85;
      font-size: 0.875rem;
    }

    .runtime {
      font-weight: bold;
      opacity: 0.85;
    }

    button {
      justify-self: left;
    }
  }

  .content {
    > div {
      margin-bottom: 80px;
    }

    h3 {
      margin-bottom: 8px;
    }

    p {
      max-width: 65ch;
    }

    .showtime {
      span {
        display: block;
      }

      .day {
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 6px;
      }

      .time-container {
        display: flex;
      }

      .time {
        text-transform: uppercase;
      }
    }

    .videos {
      .yt-player,
      iframe {
        width: 380px !important;
        height: 200px !important;
        border-radius: var(--border-radius);
      }

      iframe {
        border-radius: var(--border-radius);
      }
    }
  }
}
