.movie-details {
  .summary {
    background-size: cover;
    background-position: center center;

    &__text {
      > * {
        margin-bottom: 6px;
      }
    }

    .sub-text {
      opacity: 0.85;
      font-size: 0.875rem;
    }

    .runtime {
      font-weight: bold;
      opacity: 0.85;
    }

    button {
      justify-self: left;
    }
  }

  .content {
    &__wrapper {
      > div {
        margin-bottom: 80px;
      }
    }

    .overview {
      p {
        line-height: 1.4rem;
      }
    }

    .genre,
    .runtime {
      font-weight: 300;
    }
    .runtime {
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 8px;
      text-transform: capitalize;
      font-size: 1.375rem;
    }

    p {
      max-width: 65ch;
    }

    .showtime {
      > div {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 30px;
      }

      span {
        display: block;
      }

      .day {
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 6px;
      }

      .time-container {
        display: flex;
      }

      .time {
        text-transform: uppercase;
      }
    }

    .videos {
      .yt-player,
      iframe {
        width: 380px;
        height: 200px;
        border-radius: var(--border-radius);

        @media only screen and (max-width: 600px) {
          width: 300px;
        }
      }

      iframe {
        border-radius: var(--border-radius);
      }
    }
  }
}
