@import "../assets/scss/fonts";
@import "../assets/scss/vars";
@import "../assets/scss/text";

:root {
  --black: #1a1a1d;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: white;
}

button {
  font-family: inherit;
}



main {
  > div {
    min-height: 100vh;
  }
}

.d-sidepadding {
  $padding: 58px;
  padding-left: $padding;
  padding-right: $padding;
}

.home.page {
  section {
    margin-bottom: 62px;
  }
}
