.scroll-row {
  position: relative;

  &:hover .scroll-button {
    opacity: 1;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: 15px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
