.scroll-row {
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-content: start;
    gap: 15px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.scroll-row:hover .scroll-button {
  opacity: 1;
  pointer-events: all;
}
