.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: transparent no-repeat;
  background-position: center center;
  z-index: 50;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;

  @media only screen and (max-width: 568px) {
    display: none;
    pointer-events: none !important;
  }

  &.hide {
    opacity: 0 !important;
    pointer-events: none;
  }

  &.left {
    left: 30px;
    background-image: url("../../assets/images/left-arrow.svg");
  }

  &.right {
    right: 30px;
    background-image: url("../../assets/images/right-arrow.svg");
  }
}
