.edit-movie {
  h1{
    margin-bottom: 16px;
  }

  &__overview {
    max-width: 65ch;
    margin-bottom: 50px;
  }

  form {
    > div {
      padding: 60px 0;
    }

    .four-squares {
      display: grid;
      grid-template: auto auto / repeat(2, 224.4px);
      row-gap: 50px;
      column-gap: 80px;
      border-bottom: 2px solid #2b2b31;
      border-top: 2px solid #2b2b31;

      select{
        text-transform: capitalize;
      }
    }

    #showtime {
      border-bottom: 2px solid #2b2b31;

      p {
        margin-bottom: 20px;
      }

      &__inputs {
        > div {
          margin-bottom: 40px;
        }
      }

      &__add {
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: underline;

        cursor: pointer;
      }
    }

    .checkbox {
      display: flex;
      align-items: center;

      input {
        margin-right: 10px;
      }
    }
  }
}
